.main {
  display: flex;
  flex-direction: column; 
  background-color: var(--color-secundario);
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.filters {
  flex: 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-color: black;
  border-right: solid 4px var(--color-acento);
}

.filters__title {
  font-size: 1.1rem;
}


