.bg-home{
  background-color: black;
}

:host ::ng-deep .p-galleria-indicator-list {
  background-color: black;
}

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem; 
  padding: 4rem 1rem 2rem 1rem;
  background-color: var(--color-acento);
  text-align: center;
  flex-wrap: wrap;
  border-bottom: solid 2px var(--color-primario);
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.benefit i {
  font-size: 2.5rem;
  color: var(--color-primario); 
  margin-bottom: 0.5rem;
}

.benefit p {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-weight: bold;
  color: var(--color-primario);
}

.icon{
  width: 3rem;
  height: 3rem;
}

.categorias{
  padding: 5rem 0rem 3rem 0rem;
  display: flex; 
  justify-content: center;
  gap: 4rem;
}

.categorias img{
  width: 22rem;
  height: 32rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.categorias img:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}

.categorias div{
  border: solid 2px var(--color-secundario);
}

#fila{
  width: 3rem;
  height: 2.8rem;
}

.nav-marcas{
  display: flex;
  justify-content: center;
  background-color: var(--color-acento);
  padding: .5rem;
}


.container-marcas{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.container-marcas img{
  width: 3rem;
  height: 2rem;
}

.container-marcas-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.container-marcas-2 img{
  width: 15rem;
  height: auto;
}

.slider-promo{
  width: 100%;
}

.products {
  flex: 3;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  /* background-color: var(--color-primario); */
   background: rgb(82, 79, 72);
}

.products__div {
  background: var(--color-primario);
  border: 2px solid var(--color-primario);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: fit-content;
}

.favoritos{
  color: var(--color-acento);
  font-family: 'Bebas Neue', sans-serif;  
  text-align: center;
  margin-top: 2rem;
}

.hero {
  position: relative;
  padding: 4rem 2rem;
  background-image: url('/img/walking.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  overflow: hidden;
  color: white;
  border-bottom: solid 4px var(--color-acento);
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.hero-content h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-family: 'Bebas Neue', sans-serif; 
  letter-spacing: -.1rem;
}

.hero-content p {
  font-size: 1rem;
  color: #f0f0f0;
}
